@font-face {
  font-family: VollkornRegular;
  src: url("./../fonts/Vollkorn-Regular.woff");
}
@font-face {
  font-family: VollkornItalic;
  src: url("./../fonts/Vollkorn-Italic.ttf");
}
@font-face {
  font-family: VollkornBold;
  src: url("./../fonts/Vollkorn-Bold.ttf");
}

/* VARIABLES */
:root {
  --cloud: #ecf0f1;
  --light-gray: #fafbfc;
  --light-purple: #b07dfb;
  --purple: #84e;
  --white: #fff;

  --border-radius: 5px;
  --gap-default: 30px;
  --gradient-default: linear-gradient(
    135deg,
    var(--purple),
    var(--light-purple)
  );
  --padding-default: 30px;
  --shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  --transition: 0.3s;
}
* {
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.1);
  font-family: VollkornRegular, Georgia, serif;
}
body,
p,
h1,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
img {
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

/* GRID GERAL */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer";
}
.estrutura > * {
  border: 1px solid #000;
}

/* HEADER */
.header {
  grid-area: header;
  background: var(--gradient-default);
  padding: var(--padding-default);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header nav a {
  display: block;
  padding: 10px;
  color: var(--cloud);
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}
.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.header li + li {
  margin-left: 30px;
}
.logo {
  max-width: 200px;
}

/* SIDENAV */
.sidenav {
  grid-area: sidenav;
  background: var(--light-gray);
  padding: var(--padding-default);
}
.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
.sidenav li a:hover {
  background: var(--light-purple);
}

/* CONTENT */
.content {
  grid-area: content;
}

/* ADS */
.ads {
  grid-area: ads;
  background: var(--light-gray);
  display: grid;
  align-content: flex-start;
  padding: var(--padding-default);
  gap: var(--gap-default);
}

/* FOOTER */
.footer {
  grid-area: footer;
  background: var(--gradient-default);
}
.footer p {
  color: var(--cloud);
  text-align: center;
  padding: var(--padding-default);
}
